<h4>CHI TIẾT SÁCH</h4>
<div class="mb-3 ">
    <a style="margin-right: .5em;" routerLink="/" class="btn btn-primary">DANH SÁCH</a>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            TÊN SÁCH:
        </dt>
        <dd class = "col-sm-10">
            {{book.title}}
        </dd>
        <dt class = "col-sm-2">
            TÁC GIẢ:
        </dt>
        <dd class = "col-sm-10">
            {{book.author}}
        </dd>
        <dt class = "col-sm-2">
            MÔ TẢ:
        </dt>
        <dd class = "col-sm-10">
            {{book.description}}
        </dd>
    </dl>
</div>